@import '/src/styles.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 5;

  &__navbar {
    width: 100%;
    height: 4.5rem;
    padding: 0 1.5rem;
  }
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  
  &__page-logo {
    display: block;
    flex-shrink: 0;
    padding: .4rem 0;
    border-radius: .4rem;
  }
  
  &__link-list {
    display: flex;
    gap: 1.5rem;
    height: inherit;
    color: $greyishBlue;
    font-size: $smallFont;
    text-transform: capitalize;

    @media only screen and (max-width: $tabletBreakpoint) {
      display: none;
    }
  }
  
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 .6rem;
    border-radius: .4rem;
    transition: color .5s $easeOutQuint;
    
    &::after {
      content: '';
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      @include accent-gradient;
      transition: opacity .5s $easeOutQuint;
    }

    &:hover {
      color: $darkBlue;

      &::after { opacity: 1; }
    }
  }

  &__cta-btn {
    @media only screen and (max-width: $tabletBreakpoint) {
      display: none;
    }
  }
  
  &__menu-btn {
    display: none;

    @media only screen and (max-width: $tabletBreakpoint) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
    }
  }

  
}